html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7em;
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
}

#Total {
  font-size: 1.5em;
  margin-top: 20px;
}
.overview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

/* Existing CSS code */

/* Media query for screens smaller than 600px */
@media (max-width: 599px) {
  .overview {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    padding: 10px;
  }
  input,
  button {
    padding: 5px;
    font-size: 0.8em;
  }

  #Total {
    font-size: 1.2em;
  }
}

/* Media query for screens between 600px and 1200px */
@media (min-width: 600px) and (max-width: 1199px) {
  .overview {
    flex-direction: row; /* Arrange elements horizontally */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px;
  }
  input,
  button {
    padding: 8px;
    font-size: 0.9em;
  }

  #Total {
    font-size: 1.3em;
  }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
  .overview {
    flex-direction: column; /* Arrange elements vertically */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
  }
  input,
  button {
    padding: 10px;
    font-size: 1em;
  }

  #Total {
    font-size: 1.5em;
  }
}
